body{
    background-color: #ddf3f5;
  }
  hr{
    background-color:#ddf3f5;
    border-style: dotted none none;
    width: 10%;
    border-color: grey;
    border-width: 5px;
  }
  h1{
      color: powderblue;
  }
  h3{
    color: powderblue;  
  }